{% extends 'task/base.html' %}
{% block content %}
<body>
  <ul id="menu">
      <li>
          <input id="check02" type="checkbox" name="menu" />
          <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
          <ul class="submenu">
              <li><a href="/">Home</a></li>
              <li><a href="#class" class="scroll">Class</a></li>
              <li><a href="#management" class="scroll">Management</a></li>
              <li><a href="#bottom" class="scroll">Bottom</a></li>
          </ul>
      </li>
  </ul>
    <!-- //banner -->
    <div class="tlinks">Collect from <a>FatherOfLove</a></div>
    <!--/ banner-bottom-w3ls -->
    <section>
      <div class="price-button mt-md-3 mt-2">
          <a class="btn text-uppercase" align=center href="{% url 'wp_list' %}">
                          Start POP!</a>
      </div>
    </section>
    <section class="banner-bottom-w3ls py-lg-5 py-4" id="about">
        <div class="container py-sm-5 py-4">
            <div class="ab-grids row text-left pb-3">
                <div class="col-lg-6 pt-lg-5">
                    <img src="static/images/Picture2.jpg" class="img-fluid" alt="mobile-image">
                </div>
                <div class="col-lg-6 pl-lg-5">
                    <div class="header-wthree pt-lg-5 pt-3 text-left">
                        <h3 class="tittle mb-lg-4 mb-3">Why POP ?</h3>
                    </div>
                    <p> In the platform, we will provide accurate blockchain project training courses for anyone interested in the blockchain. You can also apply to be an ambassador of the project after passing the test if you want. You will get paid for the promotion tasks released by the project on POP.</p>
                    <p class="my-3">Praesent ullamcorper dui turpis.At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    <ul class="tic-info list-unstyled">
                        <li>

                            <span class="fa fa-check mr-2"></span> Integer sit amet mattis quam

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Praesent ullamcorper dui turpis

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Integer sit amet mattis quam

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Integer sit amet mattis quam

                        </li>
                    </ul>
                </div>


            </div>


        </div>
    </section>
    <!--// banner-bottom-w3ls-->
    <!--/services -->
    <section class="services py-lg-5 py-4" id="services">
        <div class="container py-sm-4 py-4">
            <div class="header-wthree py-lg-5 py-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3">Ambassador</h3>
            </div>
            <div class="feature-grids row text-left">
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        <h3 class="my-4">Customizeable</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd2-active p-lg-5 p-3">
                        <span class="fa fa-laptop" aria-hidden="true"></span>
                        <h3 class="my-4">Fully Responsive</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <span class="fa fa-folder-open-o" aria-hidden="true"></span>
                        <h3 class="my-4">Well Documented</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="bottom-gd p-lg-5 p-3">
                        <span class="fa fa-clone" aria-hidden="true"></span>
                        <h3 class="my-4">Friednly Design</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <span class="fa fa-headphones" aria-hidden="true"></span>
                        <h3 class="my-4">Online Support</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <span class="fa fa-magic" aria-hidden="true"></span>
                        <h3 class="my-4">Retina Ready</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>

            </div>


        </div>
    </section>
    <!--// services -->

    <!-- banner-bottom-w3ls1 -->

    <!-- //banner-bottom-w3ls1 -->
    <section class="subscribe">
        <div class="layer two">
            <div class="container text-center py-5">
                <div class="header-wthree pt-lg-3 pt-4">
                    <h3 class="tittle two mb-lg-5 mb-3">Join Us Now</h3>
                </div>
                <form action="#" method="post" class="newsletter mt-lg-5 mt-3">
                    <input class="email" type="email" placeholder="Your email..." required="">
                    <button class="but-submit" type="submit"><span class="fa fa-paper-plane-o" aria-hidden="true"></span> Subscribe</button>
                </form>
            </div>

        </div>
    </section>
    <!-- Gallery -->
    <section class="middile-sec pt-5" id="gallery">
        <div class="container">
            <div class="header-wthree py-lg-5 py-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3"> How It Looks</h3>
            </div>

        </div>
        <div class="middile-inner-con">
            <div class="tab-main mx-auto text-center">

                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1"><span class="fa fa-laptop" aria-hidden="true"></span> Desktop</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2"><span class="fa fa-tablet" aria-hidden="true"></span> Tablet</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3"><span class="fa fa-mobile" aria-hidden="true"></span> Mobile</label>

                <section id="content1">
                    <img src="static/images/tab1.png" class="img-fluid" alt="mobile-image">
                </section>

                <section id="content2">
                    <img src="static/images/tab2.png" class="img-fluid" alt="mobile-image">
                </section>

                <section id="content3">
                    <img src="static/images/mobile4.png" class="img-fluid" alt="mobile-image">
                </section>

            </div>
        </div>
        <div class="stats-info">
            <div class="layer three">
                <div class="container">
                    <div class="row text-center stats-inner-con">
                        <div class="col counter-gd">
                            <div class="counter">
                                <span class="fa fa-headphones" aria-hidden="true"></span>
                                <h3 class="timer count-title count-number">100</h3>
                                <p class="count-text">Support</p>
                            </div>
                        </div>
                        <div class="col counter-gd">
                            <div class="counter">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <h3 class="timer count-title count-number">1200</h3>
                                <p class="count-text">Cleints</p>
                            </div>
                        </div>
                        <div class="col counter-gd">
                            <div class="counter">
                                <span class="fa fa-tasks" aria-hidden="true"></span>
                                <h3 class="timer count-title count-number">1700</h3>
                                <p class="count-text">Pojects</p>
                            </div>
                        </div>
                        <div class="col counter-gd">
                            <div class="counter">
                                <span class="fa fa-coffee" aria-hidden="true"></span>
                                <h3 class="timer count-title count-number">157</h3>
                                <p class="count-text">Cups of Coffee</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//gallery -->
    <!-- banner-bottom-w3ls1 -->

    <!-- //banner-bottom-w3ls1 -->
    <!--/ banner-bottom-w3ls -->
    <section class="banner-bottom-w3ls pt-lg-5 py-5" id="app-serve">
        <div class="container pt-lg-5 py-5">
            <div class="ab-grids row text-left">
                <div class="col-lg-6 pt-lg-5 mt-lg-5 app-mob">
                    <img src="static/images/app2.png" class="img-fluid" alt="mobile-image">
                </div>
                <div class="col-lg-6 pl-lg-5 mb-lg-5">
                    <div class="header-wthree text-left">
                        <h3 class="tittle two mb-lg-4 mb-3">Suitable For Anytype LandingPage</h3>
                    </div>
                    <p>Integer sit amet mattis quam, sit amet ultricies velit.Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis. Praesent ullamcorper dui turpis.</p>
                    <div class="feature-grids text-left ml-3 mt-5">
                        <div class="bottom-gd my-lg-5">
                            <span class="fa fa-database" aria-hidden="true"></span>
                            <h3 class="my-4">Easily manage your works</h3>
                            <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                        </div>
                        <div class="bottom-gd my-lg-5">
                            <span class="fa fa-money" aria-hidden="true"></span>
                            <h3 class="my-4">Get payments smoothly.</h3>
                            <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// banner-bottom-w3ls-->
    <!--/testimonials-->
    <section class="testimonials py-5" id="testimonials">
        <div class="container py-lg-5 py-4">
            <div class="header-wthree pb-lg-5 pb-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3"> About Us</h3>
            </div>
            <div class="row mt-3">

                <div class="col-lg-4 test-grid text-left px-lg-3">
                    <div class="test-info">

                        <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                        <h3 class="mt-md-4 mt-3"> Abraham Smith</h3>

                        <div class="test-img text-center mb-3">
                            <img src="static/images/team.jpg" class="img-fluid" alt="user-image">
                        </div>
                        <div class="mobl-footer test-soc text-center">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
							<span class="fa fa-facebook-f"></span>
						</a>
                                </li>
                                <li class="mx-1">
                                    <a href="#">
							<span class="fa fa-twitter"></span>
						</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 test-grid text-left px-lg-3">
                    <div class="test-info">

                        <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                        <h3 class="mt-md-4 mt-3"> Jerry Huang</h3>
                        <div class="test-img text-center mb-3">
                            <img src="static/images/team1.jpg" class="img-fluid" alt="user-image">
                        </div>
                        <div class="mobl-footer test-soc text-center">
                            <ul class="list-unstyled">

                                <li>
                                    <a href="#">
							<span class="fa fa-dribbble"></span>
						</a>
                                </li>
                                <li class="ml-1">
                                    <a href="#">
							<span class="fa fa-vk"></span>
						</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 test-grid text-left px-lg-3">
                    <div class="test-info">

                        <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                        <h3 class="mt-md-4 mt-3">Nebula Nairobi</h3>

                        <div class="test-img text-center mb-3">
                            <img src="static/images/team2.jpg" class="img-fluid" alt="user-image">
                        </div>
                        <div class="mobl-footer test-soc text-center">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
							<span class="fa fa-facebook-f"></span>
						</a>
                                </li>
                                <li class="mx-1">
                                    <a href="#">
							<span class="fa fa-twitter"></span>
						</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- contact -->
    <section class="contact py-5" id="contact">
        <div class="container">
            <div class="header-wthree py-lg-5 py-4 text-center">
                <h3 class="tittle mb-lg-3 mb-3"> Get In Touch</h3>
            </div>
            <div class="contact-form mx-auto text-left">
                <form name="contactform" id="contactform" method="post" action="#" onsubmit="return(validate());" novalidate>
                    <div class="row">
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Name *</label>
                                <input type="text" class="form-control" id="name" placeholder="" name="name">
                            </div>
                        </div>
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Email *</label>
                                <input type="email" class="form-control" id="email" placeholder="" name="email">
                            </div>
                        </div>
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Phone No. *</label>
                                <input type="text" class="form-control" id="phone" placeholder="" name="phone">
                            </div>
                        </div>

                    </div>

                    <div class="form-group mb-5">
                        <label>How can we help?</label>
                        <textarea name="issues" class="form-control" id="iq" placeholder=""></textarea>
                    </div>
                    <div class="contact-page">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
            <div class="map my-md-5 my-3">

                <iframe src="" class="map" style="border:0" allowfullscreen=""></iframe> </div>
        </div>

    </section>
</body>
{% endblock %}
