{% extends 'task/base.html' %}
{% block content %}
<body>
  <ul id="menu">
      <li>
          <input id="check02" type="checkbox" name="menu" />
          <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
          <ul class="submenu">
              <li><a href="/">Home</a></li>
              <li><a href="#class" class="scroll">Class</a></li>
              <li><a href="#management" class="scroll">Management</a></li>
              <li><a href="#bottom" class="scroll">Bottom</a></li>
          </ul>
      </li>
  </ul>
  <section class="services py-lg-5 py-4" id="WhitePaper">
    <div class="container py-sm-4 py-4">
              <h1>Welcome to Quizlist Page!</h1>
    </div>
    {% if not qz_list %}
    <div class="price-button mt-md-3 mt-2">
        <a class="btn text-uppercase" href="{% url 'upload_quiz' wp_id=wp_id %}">Upload a Quiz Question!</a>
    </div>
    {% endif %}
  </section>
  <section class="services py-lg-5 py-4" id="WhitePaper">
    <div class="container py-sm-4 py-4">
      {% if qz_list %}
      <section>
        <table class="quizText h7">
          <tr>
            <th>Q. {{ qz_list.q1 }}</th>
          </tr>
          <tr>
            <td>1. {{ qz_list.q1a1 }}</td>
          </tr>
          <tr>
            <td>2. {{ qz_list.q1a2 }}</td>
          </tr>
          <tr>
            <td>3. {{ qz_list.q1a3 }}</td>
          </tr>
          <tr>
            <td>4. {{ qz_list.q1a4 }}</td>
          </tr>
          <tr>
            <td>A. {{ qz_list.q1ans }}</td>
          </tr>
        </table>
        <table class="quizText h7">
          <tr>
            <th>Q. {{ qz_list.q2 }}</th>
          </tr>
          <tr>
            <td>1. {{ qz_list.q2a1 }}</td>
          </tr>
          <tr>
            <td>2. {{ qz_list.q2a2 }}</td>
          </tr>
          <tr>
            <td>3. {{ qz_list.q2a3 }}</td>
          </tr>
          <tr>
            <td>4. {{ qz_list.q2a4 }}</td>
          </tr>
          <tr>
            <td>A. {{ qz_list.q2ans }}</td>
          </tr>
        </table>
        <table class="quizText h7">
          <tr>
            <th>Q. {{ qz_list.q3 }}</th>
          </tr>
          <tr>
            <td>1. {{ qz_list.q3a1 }}</td>
          </tr>
          <tr>
            <td>2. {{ qz_list.q3a2 }}</td>
          </tr>
          <tr>
            <td>3. {{ qz_list.q3a3 }}</td>
          </tr>
          <tr>
            <td>4. {{ qz_list.q3a4 }}</td>
          </tr>
          <tr>
            <td>A. {{ qz_list.q3ans }}</td>
          </tr>
        </table>
        <table class="quizText h7">
          <tr>
            <th>Q. {{ qz_list.q4 }}</th>
          </tr>
          <tr>
            <td>1. {{ qz_list.q4a1 }}</td>
          </tr>
          <tr>
            <td>2. {{ qz_list.q4a2 }}</td>
          </tr>
          <tr>
            <td>3. {{ qz_list.q4a3 }}</td>
          </tr>
          <tr>
            <td>4. {{ qz_list.q4a4 }}</td>
          </tr>
          <tr>
            <td>A. {{ qz_list.q4ans }}</td>
          </tr>
        </table>
        <table class="quizText h7">
          <tr>
            <th>Q. {{ qz_list.q5 }}</th>
          </tr>
          <tr>
            <td>1. {{ qz_list.q5a1 }}</td>
          </tr>
          <tr>
            <td>2. {{ qz_list.q5a2 }}</td>
          </tr>
          <tr>
            <td>3. {{ qz_list.q5a3 }}</td>
          </tr>
          <tr>
            <td>4. {{ qz_list.q5a4 }}</td>
          </tr>
          <tr>
            <td>A. {{ qz_list.q5ans }}</td>
          </tr>
        </table>
      </section>
      <div align=center class="price-button mt-md-3 mt-2">
          <a class="btn text-uppercase" href="{% url 'update_quiz' wp_id=wp_id%}">Update</a>
      </div>
      {% endif %}
    </div>
    <div align=center class="price-button mt-md-3 mt-2">
        <a class="btn text-uppercase" href="{% url 'class_list' wp_id=wp_id %}">Back to classes</a>
    </div>
  </section>



</body>
{% endblock %}