{% extends 'task/base.html' %}
{% block content %}

<body>
  <ul id="menu">
      <li>
          <input id="check02" type="checkbox" name="menu" />
          <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
          <ul class="submenu">
              <li><a href="/">Home</a></li>
              <li><a href="#class" class="scroll">Class</a></li>
              <li><a href="#management" class="scroll">Management</a></li>
              <li><a href="#bottom" class="scroll">Bottom</a></li>
          </ul>
      </li>
  </ul>
  <section class="services py-lg-5 py-4" id="WhitePaper">
    <div class="container py-sm-4 py-4">
      <h1>Welcome to Task Page!!!</h1>
        {% if user.userrole.role == "PO" %}
              <div class="price-button mt-md-3 mt-2">
                  <a class="btn text-uppercase" href="{% url 'upload_task' wp_id=wp_id %}">CLick to Upload Task!</a>
              </div>
        {% endif %}
    </div>
  </section>
  <section class="services py-lg-5 py-4" id="WhitePaper">
    <div class="container py-sm-4 py-4">
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Duetime</th>
          <th></th>
        </tr>
        {% for oneTask in t_list %}
          <tr>
              <td><a href="{% url 'update_task' wp_id=wp_id t_id=oneTask.id %}">{{ oneTask.title }}</a></td>
              <td>{{ oneTask.description }}</td>
              <td>{{ oneTask.dueTime }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="container py-sm-4 py-4">
        <div class="price-button mt-md-3 mt-2">
            <a class="btn text-uppercase" href="{% url 'update_wp' wp_id=wp_id %}">Back to White Paper</a>
        </div>
    </div>
  </section>
</body>
{% endblock %}
