{% extends 'blog/base.html' %}
{% block content %}

<body>
  <ul id="menu">
      <li>
          <input id="check02" type="checkbox" name="menu" />
          <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
          <ul class="submenu">
              <li><a href="http://127.0.0.1:8000/">Home</a></li>
              <li><a href="#class" class="scroll">Class</a></li>
              <li><a href="#management" class="scroll">Management</a></li>
              <li><a href="#bottom" class="scroll">Bottom</a></li>
          </ul>
      </li>
  </ul>
  <section class="services py-lg-5 py-4" id="WhitePaper">
    <div class="container py-sm-4 py-4">
              <h1>Project Owner upload white paper</h1>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document">
                <button type="submit">UPLOAD!</button>
              </form>
              <div class="price-button mt-md-3 mt-2">
                  <a class="btn text-uppercase" href="whitepaperlistpage">Upload!</a>
              </div>
    </div>
  </section>
  <section class="services py-lg-5 py-4" id="WhitePaper">
    <div class="container py-sm-4 py-4">
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Duetime</th>
          <th></th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
      </table>
    </div>
  </section>
</body>
{% endblock %}
