{% extends 'blog/base.html' %}
{% block content %}
<body>
  <ul id="menu">
      <li>
          <input id="check02" type="checkbox" name="menu" />
          <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
          <ul class="submenu">
              <li><a href="/">Login</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="#class" class="scroll">Class</a></li>
              <li><a href="#management" class="scroll">Management</a></li>
              <li><a href="#bottom" class="scroll">Bottom</a></li>
          </ul>
      </li>
  </ul>
    <!-- //banner -->
    <div class="tlinks">Collect from <a>FatherOfLove</a></div>
    <!--/ banner-bottom-w3ls -->

    {% if  not user.is_authenticated %}
    <section>
        <div>
            <img src="static/images/home_after_login.png"  href="{% url 'wp_list' %}"  class="img-fluid" alt="startPOP-image" align=center>
        </div>
    </section>
    {% endif %}


    {% if not  user.is_authenticated %}

    <section class="banner-bottom-w3ls py-lg-5 py-4" id="about">
        <div class="container py-sm-5 py-4">
            <div class="ab-grids row text-left pb-3">
                <div class="col-lg-6 pt-lg-5">
                    <img src="static/images/Picture2.jpg" class="img-fluid" alt="mobile-image">
                </div>

                <div class="col-lg-6 pl-lg-5">
                    <div class="header-wthree pt-lg-5 pt-3 text-left">
                        <h3 class="tittle mb-lg-4 mb-3">Why POP ?</h3>
                    </div>
                    <h2>
                    <p> POP is a platform for connecting blockchain projects with blockchain global ambassadors.</p>
                    </h2>
                    <p> </p>
                    <h3>
                    <p> In the platform, we will provide accurate blockchain project training courses for anyone interested in the blockchain. </p>
                    <p></p>
                    <p> You can also apply to be an ambassador of the project after passing the test if you want. You will get paid for the promotion tasks released by the project on POP.</p>
                    </h3>
                    <p class="my-3"></p>
                </div>

            </div>
            <p> </p>
            <p> </p>
            <h1 class="tittle mb-lg-3 mb-3">
            <strong>Our MISSION:</strong> Everyone will benefit from the blockchain revolution !
            </h1>
        </div>
    </section>
    <!--// banner-bottom-w3ls-->
    <!--/Ambassador -->
    <section class="services py-lg-5 py-4" id="Ambassador">
        <div class="container py-sm-4 py-4">
            <div class="header-wthree py-lg-5 py-3 text-center">
                <h2 class="tittle mb-lg-3 mb-3">Ambassador</h2>
                <h4>This is an Exciting Work Label</h4>
            </div>
            <div class="feature-grids row text-left">
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        <h3 class="my-4">To be an Ambassador</h3>
                        <p>• Strong self-learning ability</p>
                        <p>  • Interested in blockchain projects</p>
                        <p>  • Have experience in blockchain investment</p>
                        <p>• Own blockchain community</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd2-active p-lg-5 p-3">
                        <span class="fa fa-laptop" aria-hidden="true"></span>
                        <h3 class="my-4">What you have to pay</h3>
                        <p>• 0 tuition </p>
                        <p>• Fragmentation time+ Active brain</p>
                        <p>• A heart that loves blockchain</p>
                        <p>• Fully get involved</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <span class="fa fa-folder-open-o" aria-hidden="true"></span>
                        <h3 class="my-4">Ambassador's benefit</h3>
                        <p>• Variety of project training courses</p>
                        <p>• Project promotion tasks for paid</p>
                        <p>• Community activity management tools</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--// Ambassador -->

    <!--// banner-bottom-w3ls-->
    <!--/ProjectOwer -->
  <section class="services py-lg-5 py-4" id="ProjectOwer">
    <div class="container py-sm-4 py-4">
        <div class="header-wthree py-lg-5 py-3 text-center">
          <h2>
            <p> BLOCKCHAIN PROJECT</p>
          </h2>

          <h3>
            <p>We help you to popularize the project all over the world!</p>
          </h3>
          <p class="my-3"></p>
          </div>
    </div>
  <!--// ProjectOwer -->

  {% endif %}
    <!-- //banner-bottom-w3ls1 -->
    <section class="subscribe">
        <div class="layer two">
            <div class="container text-center py-5">
                <div class="header-wthree pt-lg-3 pt-4">
                    <h3 class="tittle two mb-lg-5 mb-3">Join Us Now</h3>
                </div>
                <form action="#" method="post" class="newsletter mt-lg-5 mt-3">
                    <input class="email" type="email" placeholder="Your email..." required="">
                    <button class="but-submit" type="submit"><span class="fa fa-paper-plane-o" aria-hidden="true"></span> Subscribe</button>
                </form>
            </div>

        </div>
    </section>

    <!--/testimonials-->
    <section class="testimonials py-5" id="testimonials">
        <div class="container py-lg-5 py-4">
            <div class="header-wthree pb-lg-5 pb-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3"> About Us</h3>
            </div>
            <div class="row mt-3">

                <div class="col-lg-4 test-grid text-left px-lg-3">
                    <div class="test-info">

                        <p>MSSE of San Jose State University, Jerry Huang has been the industry's scientist since  2016. </p>
                        <h3 class="mt-md-4 mt-3"> Jerry Huang</h3>

                        <div class="test-img text-center mb-3">
                            <img src="static/images/jerry.png" class="img-fluid" alt="jerry-image">
                        </div>
                        <div class="mobl-footer test-soc text-center">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
							<span class="fa fa-facebook-f"></span>
						</a>
                                </li>
                                <li class="mx-1">
                                    <a href="#">
							<span class="fa fa-twitter"></span>
						</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 test-grid text-left px-lg-3">
                    <div class="test-info">

                        <p>MSSE of San Jose State University, Han-Wei Lin has been the industry's scientist since  2015.</p>
                        <h3 class="mt-md-4 mt-3"> Han-Wei Lin</h3>
                        <div class="test-img text-center mb-3">
                            <img src="static/images/wei.png" class="img-fluid" alt="Lin-image">
                        </div>
                        <div class="mobl-footer test-soc text-center">
                            <ul class="list-unstyled">

                                <li>
                                    <a href="#">
							<span class="fa fa-dribbble"></span>
						</a>
                                </li>
                                <li class="ml-1">
                                    <a href="#">
							<span class="fa fa-vk"></span>
						</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 test-grid text-left px-lg-3">
                    <div class="test-info">

                        <p>MSSE of San Jose State University, Sun yat-san University,Blockchain  engineer,14 years in GD FDA Senior PM.</p>
                        <h3 class="mt-md-4 mt-3">Jacky Chow</h3>

                        <div class="test-img text-center mb-3">
                            <img src="static/images/jacky.png" class="img-fluid" alt="Jacky-image">
                        </div>
                        <div class="mobl-footer test-soc text-center">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
							<span class="fa fa-facebook-f"></span>
						</a>
                                </li>
                                <li class="mx-1">
                                    <a href="#">
							<span class="fa fa-twitter"></span>
						</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>


    <!-- contact -->
    <section class="contact py-5" id="contact">
        <div class="container">
            <div class="header-wthree py-lg-5 py-4 text-center">
                <h3 class="tittle mb-lg-3 mb-3"> Get In Touch</h3>
            </div>
            <div class="contact-form mx-auto text-left">
                <form name="contactform" id="contactform" method="post" action="#" onsubmit="return(validate());" novalidate>
                    <div class="row">
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Name *</label>
                                <input type="text" class="form-control" id="name" placeholder="" name="name">
                            </div>
                        </div>
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Email *</label>
                                <input type="email" class="form-control" id="email" placeholder="" name="email">
                            </div>
                        </div>
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Phone No. *</label>
                                <input type="text" class="form-control" id="phone" placeholder="" name="phone">
                            </div>
                        </div>

                    </div>

                    <div class="form-group mb-5">
                        <label>How can we help?</label>
                        <textarea name="issues" class="form-control" id="iq" placeholder=""></textarea>
                    </div>
                    <div class="contact-page">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
            <div class="map my-md-5 my-3">

              <iframe src="" class="map" style="border:0" allowfullscreen=""></iframe> </div>
        </div>

    </section>
</body>
{% endblock %}
