
{% extends 'blog/base.html' %}
{% block content %}
{% if not user.is_authenticated %}
<body onLoad="parent.location='homepage'">
</body>
{% endif %}
<body>
  <ul id="menu">
      <li>
          <input id="check02" type="checkbox" name="menu" />
          <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
          <ul class="submenu">
              <li><a href="http://127.0.0.1:8000/">Home</a></li>
              <li><a href="#class" class="scroll">Class</a></li>
              <li><a href="#management" class="scroll">Management</a></li>
              <li><a href="#bottom" class="scroll">Bottom</a></li>
          </ul>
      </li>
  </ul>
  <section class="services py-lg-5 py-4" id="Influcencer">
    <div class="container py-sm-4 py-4">
      <h1>influcencer</h1>
      <h1>Tasks</h1>
      <h1>Tasks Finished</h1>
    </div>
  </section>

  <section class="services py-lg-5 py-4" id="Owner">
    <div class="container py-sm-4 py-4">
      <h1>Product Owner</h1>
      <h1>Tasks</h1>
      <h1>Tasks reviews</h1>
    </div>
    <section>
      <div align="center">
      <h1>Task Upload</h1>
      <hr width="80%" size="10"  />
          <form action="3.html" method="get">

          Task Name: <input type="text"id=TaskName />
          <br /><br />
          content: <input type="text" id=TaskContent/>
          <br /><br />
          Payment: Tokens <input type="radio" name="sex"/> USD <input type="radio" name="sex"/>
          <br /><br />
          Payment： Token <input type="checkbox">
                USD<input type="checkbox">
          <br /><br />
          start date：
                    <select id=startyear>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                    </select>
          Year
                   <select id=startmonth>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    </select>
          Month
                  <select id=startdate>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                  </select>
                  date
         <br /><br />
         <br /><br />
         end date：
                   <select id=endyear>
                       <option>2019</option>
                       <option>2020</option>
                       <option>2021</option>
                       <option>2022</option>
                   </select>
         Year
                  <select id=endmonth>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                   <option>6</option>
                   <option>7</option>
                   <option>8</option>
                   <option>9</option>
                   <option>10</option>
                   <option>11</option>
                   <option>12</option>
                   </select>
         Month
                 <select id=enddate>
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                   <option>6</option>
                   <option>7</option>
                   <option>8</option>
                   <option>9</option>
                   <option>10</option>
                   <option>11</option>
                   <option>12</option>
                   <option>13</option>
                   <option>14</option>
                   <option>15</option>
                   <option>16</option>
                   <option>17</option>
                   <option>18</option>
                   <option>19</option>
                   <option>20</option>
                   <option>21</option>
                   <option>22</option>
                   <option>23</option>
                   <option>24</option>
                   <option>25</option>
                   <option>26</option>
                   <option>27</option>
                   <option>28</option>
                   <option>29</option>
                   <option>30</option>
                   <option>31</option>
                 </select>
                 date
        <br /><br />
         <input type="submit" value="Submit" />
         <input type="reset" value="Reset" />
         </form>
       </div>
    </section>
  </section>
</body>
{% endblock %}
